{
  "apps": {
    "http": {
      "servers": {
        "srv0": {
          "listen": [
            ":443"
          ],
          "routes": [{{range $index, $_ := .}}{{if $index}},{{end}}
            {
              "handle": [
                {
                  "handler": "subroute",
                  "routes": [
                    {
                      "handle": [
                        {
                          "handler": "headers",
                          "response": {
                            "set": {
                              "Strict-Transport-Security": [
                                "max-age=31536000;"
                              ]
                            }
                          }
                        },
                        {
                          "encodings": {
                            "gzip": {},
                            "zstd": {}
                          },
                          "handler": "encode"
                        },
                        {
                          "handler": "reverse_proxy",
                          "upstreams": [
                            {
                              "dial": "{{.Container}}"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ],
              "match": [
                {
                  "host": [
                    "{{.Domain}}"
                  ]
                }
              ],
              "terminal": true
            }{{end}}
          ],
          "tls_connection_policies": [{{range $index, $_ := .}}{{if $index}},{{end}}
            {
              "certificate_selection": {
                "any_tag": [
                  "{{.Domain}}"
                ]
              },
              "match": {
                "sni": [
                  "{{.Domain}}"
                ]
              }
            }{{end}}
          ]
        }
      }
    },
    "tls": {
      "certificates": {
        "load_files": [{{range $index, $_ := .}}{{if $index}},{{end}}
          {
            "certificate": "{{.Domain}}-cert.pem",
            "key": "{{.Domain}}-key.pem",
            "tags": [
              "{{.Domain}}"
            ]
          }{{end}}
        ]
      }
    }
  }
}
